.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(white, cornflowerblue);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid black;*/
}

.nav {
  /*border: 1px solid red;*/
  width: 20%;
  height: 10%;
}

.egzam {
  width: 80%;
  height: 100%;
  /*border: 1px solid blue;*/
}

.questionButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 1em;
  font-size: 1em;
}

.questionButton {
  width: 100%;
}

.correctAnswer {
  color: green;
}

.pickedAnswer {
  background-color: lightblue;
}

.question {
  font-size: 1.7em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.explanation {
  font-size: 1.2em;
}

.pickedOption {
  background-color: chartreuse;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
